<!-- <p>timestamp works!</p> -->

<div class="container" offset-md="2">
  <mat-card>
    <mat-card-header>
      <mat-card-title>:: TimeStamp ::</mat-card-title>
    </mat-card-header>
    <br>
    <H2 align="center" class="h2">ลงเวลา เข้างาน-ออกงาน</H2>
    <H5 align="center">คุณอยู่ห่างจากตำแหน่ง 38.48 เมตร</H5>
    <div class="example-button-row">
      &nbsp;&nbsp;&nbsp;&nbsp;
      <button mat-raised-button color="primary" class="button-in" (click)="sendMessagesIn()">IN</button>
      &nbsp;&nbsp;&nbsp;
      <button mat-raised-button color="primary" class="button-out" (click)="sendMessagesOut()">OUT</button>
    </div>
    <br>
  </mat-card>
</div>
