<!-- <p>helpdeskdetail works!</p> -->
<!-- <label name="id" [(ngModel)]="id">{{ id }}</label> -->
<div class="container" offset-md="2">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>:: {{ id }} ::</mat-card-title>
      </mat-card-header>
        <!-- <mat-form-field appearance="fill">
          <mat-label>{{ detail }}</mat-label>
          <textarea matInput disabled wrap="hard"></textarea>
        </mat-form-field> -->
        <mat-label>{{ detail }}</mat-label>
    </mat-card>
</div>
