<!-- <p>register works! v.1.0</p> -->
<div class="container" offset-md="2">
  <div>
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>AP Line Chatbot Register</mat-card-title>
      </mat-card-header>

      <!-- <form class="example-form">

        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Username">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Email">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Password">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Choose a role...</mat-label>
            <mat-select [(value)]="selected">
              <mat-option [value]="roles" *ngFor="let roles of Roles">{{roles}}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </mat-card-content> -->


      <!-- </form> -->
      <form class="example-form">
        <mat-card-content>
          <!-- <mat-form-field class="example-full-width">
            <input matInput placeholder="Firstname" name="firstname" [(ngModel)]="firstname">
          </mat-form-field> -->

          <!-- <mat-form-field class="example-full-width">
            <input matInput placeholder="Lastname" name="lastname" [(ngModel)]="lastname">
          </mat-form-field> -->

          <!-- <mat-form-field class="example-full-width">
            <input matInput placeholder="Employee No. Ex. AP003910" name="employeeid" [(ngModel)]="employeeid">
          </mat-form-field> -->
          <!-- <mat-form-field class="example-full-width">
            <input matInput placeholder="Username or Email" name="email" [(ngModel)]="email">
          </mat-form-field> -->
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Username" name="username" [(ngModel)]="username">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" name="password" [(ngModel)]="password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
          <div class="loading-indicator">
            <mat-spinner [diameter]="60" *ngIf="loading"></mat-spinner>
        </div>
          <button mat-stroked-button class="btn-block badge-primary" (click)="sendMessages()">Register</button>
        </mat-card-content>
      </form>

    </mat-card>
  </div>
</div>
