mat-form-field {
  width: 100%;
}

mat-card {
  margin: 2px;
  // padding: 10%;
}

mat-card-header{
  background: black;
  // padding: 5px;
  color:white;
}

mat-card-content{
  margin: 2px;
}
